﻿@using DeskUI.Services
@using Microsoft.JSInterop
@inject WindowManager WindowManager
@inject IJSRuntime JSRuntime

<div class="window-host" @onmouseup="OnMouseUp">
    @foreach (var window in WindowManager.Windows)
    {
        <FloatingWindow @key="window.Id"
                        Instance="@window"
                        Theme="@Theme"
                        OnCloseRequested="@(() => WindowManager.Close(window.Id))" />
    }
</div>