# --- Blazor / .NET project language overrides ---

# Compter les fichiers .razor comme du C#
*.razor linguist-language=C#

# Compter les fichiers .razor.css comme du CSS
*.razor.css linguist-language=CSS

# Ignorer uniquement les CSS globaux dans wwwroot
wwwroot/*.css linguist-vendored
wwwroot/**/*.css linguist-vendored

# Ignorer les fichiers générés par Blazor
wwwroot/_framework/* linguist-vendored
wwwroot/_content/* linguist-vendored

# Ignorer les fichiers générés par le compilateur
*.g.cs linguist-generated
