@using DeskUI.Services
@inject WindowManager WindowManager

<div class="desktop-icons">
    <button class="desktop-icon" @onclick="OpenFirstWindow">
        <div class="icon">🌄</div>
        <span>Sample Window 1</span>
    </button>

    <button class="desktop-icon" @onclick="() => OpenSecondWindow()">
        <div class="icon">📜</div>
        <span>Sample Window 2</span>
    </button>

    <button class="desktop-icon" @onclick="() => OpenSecondWindow(isOverLayed: true)">
        <div class="icon">📜</div>
        <span>Sample Window 2 (Overlay)</span>
    </button>


    <button class="desktop-icon" @onclick="OpenUIManagerWindow">
        <div class="icon">⚙️</div>
        <span>UI Manager (single instance)</span>
    </button>

    @*
    <button class="desktop-icon" @onclick="OpenUIThemeBuilderWindow">
        <div class="icon">🎨</div>
        <span>Theme Builder </span>
    </button>
    *@
</div>
